#img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: silver;
    width: 1500px;
    height: 400px;
}
.img1{
    width: 400px;
    height: 300px;
    margin: 15px;
}
.img1:hover{
    box-shadow: 5px 5px 10px 3px gray;
}
.img2{
    width: 400px;
    height: 300px;
    margin: 15px;
}
.img2:hover{
    box-shadow: 5px 5px 10px 3px gray;
}
.img3{
    width: 400px;
    height: 300px;
    margin: 15px;
}
.img3:hover{
    box-shadow: 5px 5px 10px 3px gray;
}