#gallery {
    background-color: rgb(45, 45, 45);
    border: 10px solid #080808;
    margin: 0 auto;
    display: flex;
    width: 500px;
    height: 300px;
}
#gallery ul{
  padding: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}
#gallery ul li{
    cursor: pointer;
    margin: 10PX;
    position: relative;
}
#gallery .small{
}
#gallery .pic{
    display: none;
    position: absolute;
}